@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
  @font-face {
      font-family: 'bubs';
      src: url("fontes/Bubblegum.ttf") format('truetype');
      font-weight: normal;
      font-style: normal;
}

@font-face{
    font-family: "donuts";
    src: url("fontes/SundayDonuts.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

 @font-face {
     font-family: "mango";
     src: url("fontes/SundayMango.otf") format('opentype');
     font-weight: normal;
     font-style: normal;
}

@font-face{
    font-family: "almondega";
    src: url("fontes/AlmondNougat.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Xs";
    src: url("fontes/CheeseBurger.otf") format("opentype");
}

@font-face{
    font-family: "coffe";
    src: url("fontes/CoffeCake.otf") format("opentype");
}


h1{ 
   font-family: 'bubs';
   letter-spacing: 5px;
   font-size: 60px;
   text-align: center;
   padding-top: 54px;
   padding-bottom: 15px;
   margin: 40px 0px 0px 0px;
   color: #023047;
   text-shadow: 2px 2px 2px rgba(105, 105, 105, 0.674);
}

body{
    height: 98vh;
    background-color: #8ecae6;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
}

img{
    border-radius: 10px;
    width: 100%;
}

.imagens-s{
    display: flex;
    justify-content: space-evenly;
}
.imagens-i{
    display: flex;
    justify-content: space-evenly;
}

#boxi:hover{
    transition: all 0.4s;
    transform: scale(1.15) translateY(10px);
}

#boxs:hover{
    transition: all 0.4s;
    transform: scale(1.15) translateY(-10px);
}

li{
    font-family: "Xs";
    color: white;
}

div#container > header{
    width: 100%;
    box-shadow: 8px 9px 40px 0px white;
    margin: 10px 5px 10px 5px;
    background-color: #ffa7b3;
    border-radius: 15px;
}

h2{
    color: white;
    font-size: 45px;
    text-align: center;
    margin: auto;
    font-family: 'almondega';
}

h3{
    font-family: 'coffe';
    color: white;
    text-align: center;
    font-size: 30px;
}

h4{
    font-family: 'donuts';
    color: white;
    text-align: center;
    font-size: 24px
}

ul{
    display: flex;
    justify-content: space-evenly;
}

#instru{
    text-align: center;
    display: inline-table;
    padding-left: 20%;
    justify-content: center;
}

nav > ul{
    font-family: 'mango';
    display: flex;
    justify-content: space-evenly;
}

p{
    text-align: center;
    font-size: 24px;
    font-family: 'Xs';
    color: #fb8500;
}

nav a{
    transition-duration: 0.25s;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-top: 0px;
    display: flex;
    justify-content:space-between;
    text-decoration:none;
    color:white;
}

nav a:hover{
    color: #ffb703;
    transition: all .4s;
    transform: scale(1.1) translateY(-5px);
    background-color: transparent;
}

footer{

    background-color: #219ebc;
    width: 100%;
    border-radius: 10px;
}

footer > h1{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Xs';
}

footer > a{
    font-family: 'coffe';
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
}

footer > a:hover{
    color: black;
}