

.first-content{
  padding-bottom: 4rem;
  position: relative;
  h1.title-h1{
    @media(width >= 1200px){
      padding-top: 4rem;
    }
    color: $title-color;
    font-size: $title-size;
    font-weight: $title-weight;
    padding-top: 5rem;
    text-align: center;
    width: 90%;
    margin: auto;
  }
  p.introduction{
    font-size: $text-size;
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 1.8rem;
  }
  span.decoration{
    color: $dark-blue;
    font-size: 1.5rem;
    font-weight: $title-weight;
  }
}

//.first-content::before{
//z-index: -1;
  //position: absolute;
  //content: '';
  //width: 100%;
//height for mobile
//@media (width < 756px){
  //height: 70.8vh;
//}
//height for tablets
  //@media (width >= 756px) and (width < 1200px){
    //height: 70.8vh;
  //}
  //background: linear-gradient(transparent, $light-blue);
//}