

.laws{
  //padding-for mobile
  @media (width < 756px){
    padding-top: 6rem;
  }
  @media(width >= 1200px){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    #books, #times{
      height: 90%;
      padding-right: 2rem;
      border-right: 1px solid $white-color;
    }
  }
  background-color: $light-blue;
  .section-atention{
    @media (width >= 1200px){
      border-bottom: none;
    }
    padding-top: 4rem;
    padding-bottom: 3rem;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid white;
  }

  .icon-image{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80px;
    margin-bottom: 1rem;
  }
  h2.title-h2{
    color: $dark-blue;
    font-family: $title-font;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.8rem;
    font-size: $title-size;
  }
  p.about{
    font-size: $text-size;
    text-align: center;
    color: $white-color;
  }

}
