
@import './_colors.sass';

//They can change for mobile, Pc and Tablets sizes.

//Titles configurations
$title-size: 3rem;
$title-color:  $light-blue;
$title-weight: bold;

//Text configurations
$text-size: 1.2rem;
$text-weight: normal;
$text-color: $black-color;
